/* common  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: white;
}

ul {
    list-style: none;
}
.list-inline li {
    display: inline-block;
    padding: 10px;
}
.text-uppercase {
    text-transform: uppercase;
}

/* fixed bar */
.fixed-top {
    width: 100%;
    height: 80px;
    background-color: grey;
    position: fixed;
    top: 0;
    left: 0;
    opacity:  0.4;
}

/* page body */
.wrapper {
    display: flex;
    height: calc(100vh - 90px);
}
.wrapper > *{
    padding-top: 80px;
}

/* navbar */
aside {
    width: 300px;
    background-color: yellow;
    padding-left: 25px;
}

.lateral-menu li {
    display: block;
    line-height: 40px;
}
.lateral-menu img {
    width: 40px;
    vertical-align: middle;
}

/* main section */
/* nav body */
section {
    overflow-y: auto;
    width: calc(100vw - 300px);
    background-color: blue;
}

section > ul {
    text-align: center;
}
.list-inline a {
    text-decoration: none;
}
section > .list-inline {
    padding: 15px;
}

/* main block */
.container {
    display: flex;
    justify-content: space-between;
}

.image-block {
    margin: 15px;
    text-align: center;
}

.image-block img {
    width: 150px;
    height: 150px;
}


/* footer */
footer {
    height: 90px;
    background-color: green;
}


/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }