/* common  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-100 {
    width: 100%;
    height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: white;
    margin: 15px 0;
}
h3 {
    color: white;
    font-size: 16px;
    margin: 10px 0;
}
h4 {
    color: white;
    margin: 10px 0;
}
p {
    color: grey;
    font-size: 14px;
    font-weight: 500;
}
a {
    color: grey;
    font-weight: 700;
}

ul {
    list-style: none;
}

.text-uppercase {
    text-transform: uppercase;
}

/* page body */
main {
    display: flex;
    height: calc(100vh - 90px);
}

/* navbar */
nav {
    width: 230px;
    color: grey;
    background-color: black;
}

.image-logo {
    height: 80px;
    padding: 15px;
    line-height: 80px;
}
.image-logo img {
    width: 70%;
}
.logo-small {
    display: none;
}

.nav-top > *:not(:first-child),
.nav-bottom {
    padding: 0 20px;
}
.nav-top {
    height: calc(100% - 80px);
    font-weight: 700;
}
.nav-bottom {
    height: 80px;
    background-color: tomato;
}

.navbar li {
    display: block;
    font-size: 12px;
    padding: 5px 0;
}
.navbar ul img {
    width: 25px;
    vertical-align: middle;
    opacity: 0.5;
}
.navbar ul img,
.nav-top i {
    margin-right: 5px;
}

#playlist-menu {
    margin-top: 15px;
}
.add-playlist {
    display: flex;
    align-items: center;
    font-size: 14px;
}
#playlist-menu i {
    padding: 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    margin-right: 15px;
}
#playlist-menu ul {
    margin-top: 15px;
}
#playlist-menu li {
    padding-bottom: 10px;
}

/* main section */

/* page core */
.page-core {
    overflow-y: auto;
    width: calc(100vw - 230px);
    background-color: #141922;
    padding: 80px 15px 0 15px;
}

/* fixed bar */
.fixed-top {
    width: calc(100vw - 230px);
    height: 80px;
    background-color: grey;
    position: fixed;
    top: 0;
    right: 0;
    opacity:  0.4;
    z-index: 1020;
}

/* main block */
.container-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.main-block > ul {
    text-align: center;
}
.main-block > .list-inline {
    padding: 15px;
}
.list-inline li {
    display: inline-block;
    padding: 10px;
    font-size: 12px;
}
.list-inline a {
    text-decoration: none;
}


.album-list {
    width: 100%;
}
.album-list .image-block:not(:last-child) {
    margin-right: 1%;
}
.album-list > p {
    margin-bottom: 15px;
}


.image-block {
    text-align: center;
    width: calc(95% / 6);
    margin: 10px 0;
}

.image-block img {
    max-width: 95%;
    height: auto;
}

#artists img {
    border-radius: 50%;
}

/* footer */
footer {
    width: 100%;
    height: 90px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}
footer > div {
    background-color: red;
}
.footer-left,
.footer-right {
    width: 230px;
}

.footer-center {
    width: 40%;
}


/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


@media screen and (min-width: 878px) and (max-width: 1170px) {
    .image-block {
        width: calc(96% / 4);
    }
}

@media screen and (min-width: 639px) and (max-width: 877px) {
    .image-block {
        width: calc(96% / 2);
        margin-right: 0;
    }
    .album-list .image-block:not(:last-child) {
        margin-right: 2%;
    }
}

@media screen and (max-width: 638px) {

    nav {
        width: 50px;
    }
    .image-logo {
        display: none;
    }
    .logo-small {
        display: block;
        margin: 10px 0;
    }
    .nav-top > *:not(:first-child), .nav-bottom {
        padding: 0 10px;
    }
    .navbar ul img {
        margin-right: 0;
        width: 30px;
    }
    #home-menu span {
        display: none;
    }

    #playlist-menu {
        text-align: center;
        display: none;
    }

    .fixed-top {
        width: calc(100vw - 50px);
    }

    .page-core {
        width: calc(100vw - 50px);
    } 

    .image-block {
        width: calc(96% / 2);
    }
    .album-list .image-block:not(:last-child) {
            margin-right: 2%;
    }

    .footer-left,
    .footer-right {
    width: 28%;
}
}